@{
    ViewBag.Title = "AddressAndPayment";
}

<h2>AddressAndPayment</h2>
<!--@Html.BeginForm("Complete","Checkout",FormMethod.Post)  -->
<form action="~/CheckOut/Complete" method="post">
    <span>FirstName</span>
    <input type="text" id="FirstName" name="FirstName" class="input-group" /><br/>
    <span>LastName</span>
    <input type="text" id="LastName" name="LastName" class="input-group" /><br />
    <span>Address</span>
    <input type="text" id="Address" name="Address" class="input-group" /><br />
    <span>City</span>
    <input type="text" id="City" name="City" class="input-group" /><br />
    <span>State</span>
    <input type="text" id="State" name="State" class="input-group" /><br />
    <span>Postal Code</span>
    <input type="text" id="PostalCode" name="PostalCode" class="input-group"><br />
    <span>Country</span>
    <input type="text" id="Country" name="Country" class="input-group" /><br />
    <span>Phone</span>
    <input type="text" id="Phone" name="Phone" class="input-group" /><br />
    <span>Email</span>
    <input type="text" id="Email" name="Email" class="input-group" /><br />
    <input type="submit" value="Submit Order" />
</form>

