@model IEnumerable<MZStore.Models.Album>
@using System
@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    int d = 0;
    <div class="jumbotron" id="rr">
        <h2>Store</h2>
        <p>All Music Albums available in the Store</p>
        <div class="container">
            <div class="row">
                
                    @foreach (var item in Model)
                    {
                        d++;
                        <div class="col-lg-2 col-md-2 col-sm-2 ">
                        
                        <a href="@Url.Action("Details", new { id=item.AlbumId })" class="thumbnail">
                            <img src="~/Images/Music%20CD.png" border="0" width="70" height="50" />@item.Title
                        </a>
                        @if (d == 2)
                        {
                            <div class="clearfix visible-md-block"></div>
                        }

                        
                    </div>
                    }
                </div>
            </div>
        </div>
}


