body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*form fields*/
form#HeaderSearchForm {
border: 1px solid #3b3b3b;
display: inline-block;
float: right;
width: 175px;
background-color: #eee;
margin-bottom: 4px;
}
form#HeaderSearchForm input {
background-color: #eee;
    border: 0 none;
    color: #3b3b3b;
    display: inline-block;
    float: left;
    height: 16px;
    margin: 1px 0 0;
    padding: 1px 4px 1px 10px;
    width: 145px;
}
form#HeaderSearchForm button {
 background-color: #eee;
    border: 0 none;
    color: #3b3b3b;
    cursor: pointer;
    display: inline-block;
    float: right;
    margin: 2px 2px 0 0;
    padding: 0;
}
.header-search-button {
    background: url('../images/HeaderFooterSprite.png') no-repeat scroll -204px -2px;
    background-image: url('../Images/HeaderFooterSprite.png');
    background-position-x: -204px;
    background-position-y: -2px;
    background-size: initial;
    background-attachment: scroll;
    background-origin: initial;
    background-clip: initial;
   
    width: 14px;
    height: 16px;
    overflow: hidden;
}

#SearchFlyoutContainer {
 border-bottom: 1px solid #eee !important;
    border-left: 1px solid #eee !important;
    border-right: 1px solid #eee !important;
    color: #3b3b3b !important;
    padding: 0 !important;
    width: 173px !important;
}
 #SearchFlyoutContainer ul {
margin: 0!important;
padding: 0!important;
}

 #SearchFlyoutContainer div#SuggestionContainer{
     margin-right: 0;
 }
/*home page */
.jumb{
	margin-top:100px;
	margin-left: 100px;
	padding:12px;
	background-color: #E4E4E4;		
		
}

.komb{
	position: absolute;
	top: 150px;
	left: 68px;
	border: thin solid #000000;
	background-color: #E5BF94;
}
.komb #categories
{
	font-family: Constantia, Georgia, serif;
	list-style-type: none;
	padding-right: 10px;
	margin: 0 25px 0 0;
	float: left;	
}

#categories a:link, #categories a:visited
{
	color: #F46739;	
	text-decoration: none;
}

#categories a:hover
{
	color: #000;
}
div p a:link
{
	text-decoration: none;
	color: #227F17;
}
div p a:hover
{
	color: #000;
}
.spnfield {
    float: left;
    position: relative;
    width: 120px;
    max-width:130px;
    height:30px;
    padding-bottom: 3px;
    text-align: justify;
	list-style-position: inside;
}
#rr{
      margin-top: 40px;
}
.tfield {
    height:30px;
    max-height:65px;
    max-width:150px;
    vertical-align: baseline;
    font-size: medium;
}

textarea {
    font-size: medium;
    margin: 0;
    vertical-align: baseline;
    max-width:300px;
    
}


   

.flyout {   
visibility: hidden;
opacity: 0;
background-color: #FFF;
color: #697071;
border: 1px solid #D4D4D4;
box-shadow: 0px 2px 10px 0px rgba(105, 112, 113, 0.5);
}
.flyout.show {
    opacity: 1;
    visibility: visible;
}
.flyout .contents:empty {
    width: 0;
}

.flyout .arrow {
    border-color: transparent transparent #d4d4d4;
    border-right: 10px solid transparent;
    border-style: solid;
    border-width: 0 10px 10px;
    height: 0;    
    position: absolute;
    top: -10px;
    width: 0;
}
.flyout .arrow:after {
    border-color: transparent transparent #fff;
    border-right: 9px solid transparent;
    border-style: solid;
    border-width: 0 9px 9px;
    content: "";
    height: 0;
    left: -8.6px;
    position: absolute;
    top: 1px;
    width: 0;
}
.flyout .empty {
    padding: 30px;
    text-align: center;
}
.flyout .empty .big {
    color: #adaeaf;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}
.flyout .empty p {
    margin-top: 10px;
}
.flyout .empty p a, .flyout .empty p a:link, .flyout .empty p a:visited, .flyout .empty p a:hover, .flyout .empty p a:active {
    color: #589d3e;
    text-decoration: none;
}

.flyout.bag .contents {
    width: 450px;
}
a.cart{
    
}
a.cart{
    width:30px;
    height:23px;
}
a.cart .badge {
    background-color: #FF9d3e;
    border-radius: 3px;
    color: #fff;
    margin-left: 3px;
}
h1.art {
	-webkit-transition: all 1s ease-in-out 10s;
	-o-transition: all 1s ease-in-out 10s;
	transition: all 1s ease-in-out 10s;
}
h1.art:active {
	color: #CD7071;
}
